@charset "utf-8";

@media only screen and (min-width: 769px) {
	/* Fonts */
	@font-face {
		font-family: "TwoShotsCleanFull";
		src: url("/font-files/Vozzy - Two Shots Clean Full.otf") format("oft");
	}

	@font-face {
		font-family: "TwoShotsCleanFullOTF";
		src: url("/font-files/Vozzy - Two Shots Clean Full.otf") format("oft");
	}

	* {
		margin: 0;
		padding: 0;
	}
	.grid-container {
		display: grid;
		line-height: 3rem;
		grid-template-areas:
			"header header header header header header"
			"menu menu main main main main"
			"menu menu footer footer footer footer";
		gap: 2rem;

		margin: 2rem;
		max-width: 100%;
		min-height: 100%;
	}
	/* .img-gallery {
		margin: 0rem 0rem 0rem 0rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 0px;
		max-width: 100%;
		min-height: 100%;
	} */

	.full-img {
		max-width: 100%;
		min-height: 100%;
		background-color: rgba(0, 0, 0, 0, 0.9);
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		align-items: center;
		justify-content: center;
	}
	div.item2 {
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
	}

	div.img-gallery img {
		cursor: pointer;
		border-radius: 0.5rem;
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
		padding: 0;
		margin: 1rem 0rem 1rem 0rem;
	}

	.full-img img {
		min-width: 65%;
		max-width: 65%;
		border-radius: 0.5rem;
	}

	.full-img span {
		position: absolute;
		top: 5%;
		right: 5%;
		font-size: 2rem;
		color: #fff;
		max-width: 100%;
		min-height: 100%;
	}

	.img-gallery img:hover {
		/* transform: scale(0.8) rotate(-15deg); */

		box-shadow: 10px 10px 10px rgba(245, 245, 245, 0.5);
	}

	div#fullImgBox.full-img {
		background-color: rgba(0, 0, 0, 0.7);

		z-index: 2;
		min-width: 100%;

		min-height: 100%;
	}
	.item1 {
		grid-area: header;
		margin-bottom: 3rem;
	}
	.item2 {
		grid-area: menu;
	}
	.item3 {
		grid-area: main;
	}
	.item4 {
		grid-area: main;
	}
	.item5 {
		grid-area: main;
	}
	.item6 {
		grid-area: main;
	}
	.item7 {
		grid-area: main;
	}

	.item10 {
		grid-area: footer;
	}

	/* .grid-container-pack {
		display: grid;
		line-height: 3rem;
		grid-template-columns: auto auto;
		gap: 10px;
		padding: 0px;
		max-width: 100%;
		min-height: 100%;
	} */

	div.img-gallery {
		margin: 0rem 0rem 0rem 0rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
	}

	.img-gallery div.col-01 {
		margin: 0;
		padding: 0;
	}
	.img-gallery div.col-02 {
		margin: 0;
		padding: 0;
	}

	div > p {
		padding: 0;
		max-width: 100%;
		min-height: 100%;
	}

	div.soap-details {
		margin-left: 0;
		margin-right: 0;
	}
	div.soap-details div ul {
		margin: 3rem;
	}
	div.soap-details div h2 {
		margin-top: 2rem;
		text-align: left;
		letter-spacing: 5px; /* Adjust the value as needed */

		text-align: center;
		font-family: TwoShotsCleanFull;
		text-shadow: 2px 2px 2px #201f1f;
		font-size: 5rem;
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: white;
		text-shadow: 8px 8px 20px black;
		font-weight: normal;
		color: #ffffff;
		line-height: normal;
		max-width: 100%;
		min-height: 100%;
	}
	div.soap-details div.ingredients-list h2 {
		text-align: left;
		letter-spacing: 5px; /* Adjust the value as needed */
		text-align: center;
		font-family: TwoShotsCleanFull;
		text-shadow: 2px 2px 2px #201f1f;
		font-size: 5rem;
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: white;
		text-shadow: 8px 8px 20px black;
		font-weight: normal;
		color: #ffffff;
		line-height: normal;
		min-width: 100%;
	}

	div.item1 h1 {
		letter-spacing: 5px; /* Adjust the value as needed */
		text-align: center;
		font-family: TwoShotsCleanFull;
		text-shadow: 5px 5px 10px #201f1f;
		font-size: 8rem;
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: white;
		text-shadow: 8px 8px 20px black;
		font-weight: normal;
		color: #ffffff;
		line-height: normal;
		min-width: 100%;
		margin-top: 5rem;
	}

	div.item2 h2 {
		letter-spacing: 5px; /* Adjust the value as needed */

		text-align: center;
		font-family: TwoShotsCleanFull;
		text-shadow: 5px 5px 10px #201f1f;
		font-size: 5rem;
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: white;
		text-shadow: 8px 8px 20px black;
		font-weight: normal;
		color: #ffffff;
		line-height: normal;
		min-width: 100%;
		margin-top: 5rem;
	}
	div.item3 div {
		margin-left: 212/20/2024rem;
		margin-right: 1rem;
	}
	div.return-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		margin: 10rem 0rem;
	}
	div.return-button a {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 2rem;
		text-decoration: none;
		font-family: TwoShotsCleanFull;
		line-height: normal;
		/* text-shadow: 5px 5px 10px #201f1f; */
		font-size: 5rem;
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: white;
		text-shadow: 2px 2px 20px rgb(78, 77, 77);
		font-weight: normal;
		color: #ffffff;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
		background-color: rgba(73, 58, 49, 0.8);
		border-radius: 1.5rem;
		text-align: center;
	}
	div.ingredients-list {
		text-align: left;
	}

	div.ingredients-list ul {
		display: flex;
		justify-content: left;
		flex-direction: column;
	}

	div.ingredients-list ul li {
		flex: 1;
		text-align: left;
		/* border: solid 5px yellow; */
	}
	div.soap-details {
		margin: 15rem 0rem 0rem 0rem;
		border: solid 5px white;
	}
	div.soap-details div p {
		/* border: solid 5px white; */
		margin: 2rem;
	}
}
