@charset "utf-8";

* {
	padding: 0px;
	margin: 0px;
}

/* =================================
Desktop Styles: 769px and greater
=================================
*/
@media only screen and (min-width: 769px) {
	html {
		margin: auto;
		padding: auto;

		background-position: center;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 15px;
		width: 100%;
		height: auto;
		display: flex;

		margin: auto;
		padding: auto;
		background-image: url("SOAP_PICS/HTML_PICS/background.jpeg");
		background-position: center;
	}

	body {
		position: relative;
		z-index: 1;
		min-width: 900px;
		max-width: 1500px;
		height: auto;
		margin: auto auto;
		background-color: rgb(73, 58, 49, 0.8);
		/* border: solid 10px blue; */
		font-size: 1.5rem;
		color: white;
		margin: auto;

		background-size: cover;
	}

	/* Navigation Menu aka Header Menus*/
	/* ---------------------------------------------------- */

	nav.horizontal > ul > li > a {
		min-height: 100%;
		max-height: 200px;
		margin: 0px;
		padding: 0px;
		border: none;
		color: blue;
	}
	ul.horizontal-mainmenu > li {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border: solid 5px yellow;
	}
	ul.horizontal-mainmenu > li > a {
		box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
		display: block;
		position: relative;
		width: 100%;
		min-height: 100%;
		margin: auto;
		padding: auto;
		border-radius: 0.125rem;
		color: white;
		text-align: center !important;
		text-transform: uppercase;
	}

	div.formGroup {
		width: 75%;
	}

	a.horizontal-mainmenu-dropdown {
		display: none;
		position: relative;
		width: 100%;
		height: 100%;
		margin: none;
		padding: none;
		font-size: 5rem;
		line-height: 2.5em;
		color: blue;
		text-align: center;
	}

	nav.horizontal-mainmenu > dropdown:focus + ul.horizontal-mainmenu-dropdown-dropdown-contents {
		display: block;
		border: none;
		color: blue;
	}

	ul.horizontal-mainmenu-dropdown-dropdown-contents {
		box-shadow: none;
		display: none;
		position: absolute;
		z-index: 6;
		min-width: 100%;
		min-height: 800px;
		max-height: 900px;
		background: transparent;
		border: none;
		font-size: 1.5rem;
		border: SOLID 5px RED;
	}

	ul.horizontal-mainmenu-dropdown-dropdown-contents li {
		display: block;
		position: relative;
		z-index: 6;
		min-width: 100%;
		min-height: 100%;
		padding: 20px 20px;
		background-color: rgb(73, 58, 49);
		border-radius: 0.5rem;
	}
	.bannerImages {
		box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	}

	ul.horizontal-mainmenu-dropdown-dropdown-contents li a {
		display: block;
		position: relative;
		min-width: 100%;
		min-height: 100%;
		/* padding: 2rem; */
		background-color: rgb(73, 58, 49);
	}

	/* ADD :HOVER */
	a.horizontal-mainmenu-dropdown:hover + ul.horizontal-mainmenu-dropdown-dropdown-contents,
	ul.horizontal-mainmenu-dropdown-dropdown-contents:hover,
	ul:hover {
		display: block;
		width: 100%;
		min-height: 100%;
		margin: 0px;
		padding: 0px;
		border: none;
		/* color: blue; */
	}

	a.horizontal-mainmenu-dropdown a:link {
		z-index: 2;
		padding: 50px;
		background-color: rgb(73, 58, 49, 0.5);
		font-size: 2em;
		color: white;
		text-align: center;
	}

	nav.horizontal a:visited,
	nav.horizontal a:link {
		z-index: 2;
		width: 100%;
		min-height: 100%;
		margin: 0px;
		padding: 0px;
		font-size: 4rem;
		color: white;
		text-align: center;
	}

	nav.horizontal a:hover {
		margin: 0px;
		padding: 0px;
		color: red;
	}

	ul.horizontal-mainmenu li {
		display: block;
		z-index: 2;
		width: 100%;
		min-height: 100%;
	}

	a.horizontal-mainmenu-dropdown {
		display: block;
		width: 100%;
		min-height: 100%;
	}

	img#inlineImage {
		float: right;
		width: 450px;
		padding: 25px;
	}

	nav.horizontal {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		background-color: none;
		text-align: center;
	}

	nav.horizontal ul.horizontal-mainmenu {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		width: 100%;
		min-height: 100%;
		max-height: 100%;
		text-align: center;
	}

	/* ---------------------------------------------------- */
	/* Bar Soap HTML PAGE */
	section.flexContainerBody-BarSoap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 0;
		margin: 0px;
		padding: 0px;
		/* border: solid 10px red; */
		line-height: normal;
	}
	section.flexContainerBody-BarSoap article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		/* border: solid 5px red; */
	}
	section.flexContainerBody-BarSoap article div a img {
		box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		/* border: solid 1px yellow; */
		border-radius: 2.5rem;
		min-width: 50%;
		max-width: 50%;
	}

	section.flexContainerBody-BarSoap article div h2 {
		flex-grow: 0;
		margin: 0px;
		padding: 2rem;
		font-size: 5rem;
		text-align: center;
	}

	div.flexContainerBody-BarSoap-Article h2 {
		font-size: 0.5rem;
	}
	div.flexContainerBody-BarSoap-Article h2 {
		font-size: 1rem;
	}

	/* Liquid Soap */

	section.flexContainerBody-LiquidSoap {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-grow: 0;
		margin: 0px;
		padding: 0px;
		line-height: normal;
	}

	section.flexContainerBody-LiquidSoap article {
		display: flex;
		justify-content: center;
		flex-grow: 0;
		text-align: center;
	}

	section.flexContainerBody-LiquidSoap article {
		display: block;
		flex-grow: 0;
		position: relative;
		min-width: 100%;
		height: auto;
		margin: 0px;
		margin-top: 5rem;
		text-align: center;
	}

	section.flexContainerBody-LiquidSoap article div a img {
		flex-grow: 0;
		max-width: 50%;
		height: auto;
		margin-top: 5rem;
		text-align: center;
		border-radius: 2.5rem;
	}

	section.flexContainerBody-LiquidSoap article div h2 {
		font-size: 4rem;
	}
	section.flexContainerBody-LiquidSoap article div {
		margin-top: 5rem;
	}

	/* HomePage */

	div.text-item > p {
		margin: 2rem;
		margin-top: 0px;
		margin-bottom: 0px;
		line-height: 5rem;
	}

	section.flex-container-body-02 > div > h1 {
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: white;
		min-width: 100%;
		margin: 5rem;
		font-size: 6rem;
		font-family: TwoShotsCleanFull;
		font-weight: normal;
		line-height: normal;
		color: #ffffff;
		text-align: center;
		text-shadow: 5px 5px 10px #201f1f;
		letter-spacing: 5px; /* Adjust the value as needed */
	}
	div.figure-container-01 {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
	}
	div.figure-container-01 > div.text-item {
		flex-grow: 1;
		text-align: left;
	}

	div.figure-container-01 div.text-item p {
		min-height: 100%;
		margin: 2rem;
		line-height: 5rem;
		text-align: left;
	}

	div.image-item {
		flex-shrink: 5;
	}
	div.figure-container-01 > div.image-item > figure > img {
		box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
		position: relative;
		clear: both;
		min-width: 300px;
		max-width: 600px;
		height: auto;
		margin: 0px;
		padding: none;
		border-radius: 1em;
	}

	div.figure-caption > figcaption {
		position: relative;
		clear: both;
		margin: 0px;
		padding: 25px;
		background-color: rgba(88, 75, 75, 0.5); /* Optional: Add a background color */
		border-radius: 0.5em;
		text-align: center;
	}

	/* ------------------------------- */
	div.figure-container-02 {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
	}
	div.figure-container-02 > div.text-item-02 {
		order: 2;
		flex-grow: 1;
		text-align: left;
	}

	div.figure-container-02 div.text-item-02 p {
		min-height: 100%;
		margin: 2rem;
		line-height: 5rem;
		text-align: left;
	}

	div.image-item-02 {
		order: 1;
		flex-shrink: 5;
	}
	div.figure-container-02 > div.image-item-02 > figure > img {
		box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
		position: relative;
		clear: both;
		min-width: 300px;
		max-width: 600px;
		height: auto;
		margin: 0px;
		padding: none;
		border-radius: 1em;
	}

	div.figure-caption > figcaption {
		position: relative;
		clear: both;
		margin: 0px;
		padding: 25px;
		background-color: rgba(88, 75, 75, 0.5); /* Optional: Add a background color */
		border-radius: 0.5em;
		text-align: center;
	}

	div.figure-container-01 .page-title > div > h1 {
		-webkit-text-stroke-width: 0.8px;
		-webkit-text-stroke-color: white;
		min-width: 100%;
		margin: auto;
		font-size: 12em;
		font-family: TwoShotsCleanFull;
		font-weight: normal;
		line-height: normal;
		color: #b43b07;
		text-align: center;
		text-shadow: 5px 5px 10px #201f1f;
	}
	div.figure-container-01 div.text-item h1 {
		-webkit-text-stroke-width: 0.3px;
		-webkit-text-stroke-color: white;
		min-width: 100%;
		font-size: 10rem;
		font-family: TwoShotsCleanFull;
		font-weight: normal;
		line-height: normal;
		color: #b43b07;
		text-align: center;
		text-shadow: 5px 5px 10px #201f1f;
	}
	.page-title > div > h1 {
		-webkit-text-stroke-width: 0.8px;
		-webkit-text-stroke-color: white;
		min-width: 100%;
		font-size: 12em;
		font-family: TwoShotsCleanFull;
		font-weight: normal;
		line-height: normal;
		color: #b43b07;
		text-align: center;
		text-shadow: 5px 5px 10px #201f1f;
	}

	div.text-item-footer > p {
		font-size: 2.5rem;
		text-align: center;
	}

	/* ------------------------Product Page --------------------*/

	section.flex-container-body-01 > div > h1 {
		-webkit-text-stroke-width: 0.8px;
		-webkit-text-stroke-color: white;
		z-index: 10;
		min-width: 100%;
		font-size: 14rem;
		font-family: TwoShotsCleanFull;
		font-weight: normal;
		line-height: normal;
		color: #b43b07;
		text-align: center;
		text-shadow: 5px 5px 10px #201f1f;
	}

	section.flex-container-body-01 > div > h2 {
		-webkit-text-stroke-width: 0.8px;
		-webkit-text-stroke-color: white;
		min-width: 100%;
		margin: 0px;
		padding: 0px;
		font-size: 7rem;
		font-family: TwoShotsCleanFull;
		font-weight: normal;
		line-height: normal;
		color: #ffffff;
		text-align: center;
		text-shadow: 5px 5px 10px #201f1f;
	}

	section.flex-container-body-01 > div.slogan h2 {
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: white;
		min-width: 100%;
		margin: 0px;
		padding: 0px;
		font-size: 6rem;
		font-family: TwoShotsCleanFull;
		font-weight: normal;
		line-height: normal;
		color: #b43b07;
		text-align: center;
		text-shadow: 5px 5px 10px #201f1f;
	}
	section.flex-container-body-01 > div > h2 {
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: white;
		min-width: 100%;
		padding: 2rem;
		font-size: 8rem;
		font-family: TwoShotsCleanFull;
		font-weight: normal;
		line-height: normal;
		color: #b43b07;
		text-align: center;
		text-shadow: 5px 5px 10px #201f1f;
	}

	/* The scrublands logo image */
	section.flex-container-body-01 > div > a > img {
		box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);

		display: block;
		min-width: 200px;
		max-width: 300px;
		height: auto;
		margin: auto;
		border-radius: 1.5rem;
	}

	section.flex-container-body-01 div.product-page-image > a > img {
		box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
		display: block;
		min-width: 500px;
		max-width: 600px;
		height: auto;
		margin: auto;
		border-radius: 1.5rem;
	}

	/* Product list */

	section.flex-container-body-01 > div {
		margin-top: 5rem;
	}

	div.container {
		z-index: 2;
		margin: 2rem;
		/* border: solid 10px red; */
	}

	/* div a img {
		max-width: 80%;
	} */
}
