@charset "utf-8";

* {
	padding: 0px;
	margin: 0px;
}

/* =================================
Desktop Styles: 769px and greater
=================================
*/
@media only screen and (min-width: 769px) {
	html {
		background-image: url("SOAP_PICS/HTML_PICS/background.jpeg");
		background-position: center;
		display: flex;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 15px;
		height: auto;
		margin: auto;
		padding: auto;
		width: 100%;
	}

	body {
		background-color: rgb(73, 58, 49, 0.8);
		background-size: cover;
		color: white;
		font-size: 1.5rem;
		height: auto;
		margin: auto;
		max-width: 1500px;
		min-width: 900px;
		position: relative;
		z-index: 1;
	}

	/* Navigation Menu aka Header Menus */
	/* ---------------------------------------------------- */

	a.horizontal-mainmenu-dropdown {
		color: blue;
		display: none;
		font-size: 5rem;
		height: 100%;
		line-height: 2.5em;
		margin: none;
		padding: none;
		position: relative;
		text-align: center;
		width: 100%;
	}

	a.horizontal-mainmenu-dropdown a:link {
		background-color: rgb(73, 58, 49, 0.5);
		color: white;
		font-size: 2em;
		padding: 50px;
		text-align: center;
		z-index: 2;
	}

	a.horizontal-mainmenu-dropdown:hover + ul.horizontal-mainmenu-dropdown-dropdown-contents,
	ul.horizontal-mainmenu-dropdown-dropdown-contents:hover,
	ul:hover {
		border: none;
		display: block;
		margin: 0px;
		min-height: 100%;
		padding: 0px;
		width: 100%;
	}

	div.container {
		margin: 2rem;
		z-index: 2;
	}

	div.figure-caption > figcaption {
		background-color: rgba(88, 75, 75, 0.5); /* Optional: Add a background color */
		border-radius: 0.5em;
		clear: both;
		margin: 0px;
		padding: 25px;
		position: relative;
		text-align: center;
	}

	div.figure-container-01 {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	div.figure-container-01 > div.image-item > figure > img {
		border-radius: 1em;
		box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
		clear: both;
		height: auto;
		margin: 0px;
		min-width: 300px;
		padding: none;
		position: relative;
		width: auto;
	}

	div.image-item {
		flex-shrink: 5;
	}

	/* Continuation of sorting the styles... */
}
